<div class="row">
	<!-- sidebar navbar -->
	<div class="col-lg-3 col-xl-2 col-md-4 sidebar fixed-top">
		<a href="/admin/index"
			class="navbar-brand text-white d-block mx-auto text-center mb-4 bottom-border pb-2">
			Admin</a> <img
			src="https://icons.iconarchive.com/icons/blackvariant/button-ui-system-folders-alt/48/Home-icon.png" alt="Logo" class="mr-1">
		<a href="/home/product" class="text-white "
			style="text-decoration: none;">Product <svg
				xmlns="http://www.w3.org/2000/svg" width="18" height="18"
				fill="currentColor" class="bi bi-bookmark-star-fill"
				viewBox="0 0 16 16">
                <path fill-rule="evenodd"
					d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z" />
              </svg></a>
		<div class="border-bottom pb-3"></div>
		<div class="con-like">
			<input title="like" type="checkbox" class="like">
			<div class="checkmark">
				<svg viewBox="0 0 24 24" class="outline"
					xmlns="http://www.w3.org/2000/svg">
                            <path
						d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                            </path>
                        </svg>
				<svg viewBox="0 0 24 24" class="filled"
					xmlns="http://www.w3.org/2000/svg">
                            <path
						d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                            </path>
                        </svg>
				<svg class="celebrate" width="100" height="100"
					xmlns="http://www.w3.org/2000/svg">
                            <polygon points="10,10 20,20" class="poly"></polygon>
                            <polygon points="10,50 20,50" class="poly"></polygon>
                            <polygon points="20,80 30,70" class="poly"></polygon>
                            <polygon points="90,10 80,20" class="poly"></polygon>
                            <polygon points="90,50 80,50" class="poly"></polygon>
                            <polygon points="80,80 70,70" class="poly"></polygon>
                        </svg>
			</div>
		</div>
		<ul class="navbar-nav flex-column mt-4">

			<!-- <a th:href="@{/admin/email}"
				class="nav-link text-light p-3 mb-2 sidebar-link"> <svg
					xmlns="http://www.w3.org/2000/svg" width="25" height="25"
					fill="currentColor" class="bi bi-envelope-plus-fill"
					viewBox="0 0 16 16">
                        <path
						d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207L16 4.697Z" />
                        <path
						d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z" />
                      </svg> Email
			</a> -->

			<a href="/authorize/index1.html"
				class="nav-link text-light p-3 mb-2 sidebar-link"> <svg
					xmlns="http://www.w3.org/2000/svg" width="25" height="25"
					fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path
						d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                      </svg> Phân quyền
			</a>
			<a href="/admin/products"
				class="nav-link text-light p-3 mb-2 sidebar-link"> <svg
					xmlns="http://www.w3.org/2000/svg" width="25" height="25"
					fill="currentColor" class="bi bi-app-indicator" viewBox="0 0 16 16">
                    <path
						d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z" />
                    <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                  </svg> Product
			</a>
			<a th:href="@{/users}"
				class="nav-link text-light p-3 mb-2 sidebar-link"> <svg
					xmlns="http://www.w3.org/2000/svg" width="25" height="25"
					fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
  <path fill-rule="evenodd"
						d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
</svg> Account
			</a>
			<!-- -----nav2 -->
			<li class="nav-item">
				<p>
					<button class="nav-link text-light p-3 mb-8 current" type="button"
						data-toggle="collapse" data-target="#collapseExample1"
						aria-expanded="false" aria-controls="collapseExample">
						Thống kê
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							fill="currentColor" class="bi bi-chat-right-heart-fill"
							viewBox="0 0 16 16">
                            <path
								d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2ZM8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z" />
                          </svg>
					</button>
				</p>
				<div class="collapse" id="collapseExample1">
					<div class="card bg-dark">
						<a href="/admin/topviews"
							class="nav-link text-light p-3 mb-2 sidebar-link"> <svg
								xmlns="http://www.w3.org/2000/svg" width="20" height="20"
								fill="currentColor" class="bi bi-bookmark-fill"
								viewBox="0 0 16 16">
                                    <path
									d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z" />
                                  </svg> Top View
						</a>
					</div>
					<!-- <div class="card bg-dark">
						<a href="/admin/reportcategory"
							class="nav-link text-light p-3 mb-2 sidebar-link"> <svg
								xmlns="http://www.w3.org/2000/svg" width="25" height="25"
								fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
									d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                  </svg> Category
						</a>
					</div>
					<div class="card bg-dark">
						<a href="/admin/reportOrderByDate"
							class="nav-link text-light p-3 mb-2 sidebar-link"> <svg
								xmlns="http://www.w3.org/2000/svg" width="25" height="25"
								fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
									d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                  </svg> Report Order
						</a>
					</div>
					<div class="card bg-dark">
						<a href="/admin/revenuereport"
							class="nav-link text-light p-3 mb-2 sidebar-link"> <svg
								xmlns="http://www.w3.org/2000/svg" width="25" height="25"
								fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
									d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                  </svg> Revenue
						</a>
					</div> -->
				</div>
			</li>
		</ul>
	</div>