<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/cssadmin/admin.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <div class="container-fluid">
                <div class="row">
                    <!-- Sidebar -->
                    <div th:replace="/admin/layout/_menu.html"></div>
                    <!-- End sidebar -->

                    <!-- Top nav -->
                    <div class="col-lg-9 col-xl-10 col-md-8 ml-auto bg-dark fixed-top py-2 top-navbar">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <h4 class="text-light text-uppercase mb-0">batdongsan<sup>.com</sup></h4>
                            </div>
                            <div class="col-md-5">
                                <div th:replace="/admin/layout/_search.html"></div>
                            </div>
                            <div class="col-md-3">
                                <ul class="navbar-nav">
                                    <li class="nav-item icon-parent">
                                        <a href="#" class="nav-link icon-bullet "> <i class="fa fa-comments text-muted fa-lg"> <!-- SVG icon code here -->
                                            </i>
                                        </a>
                                    </li>
                                    <li class="nav-item icon-parent">
                                        <a href="#" class="nav-link icon-bullet"> <i class="fa fa-bell text-muted fa-lg"> <!-- SVG icon code here -->
                                            </i>
                                        </a>
                                    </li>
                                    <li class="nav-item ml-md-auto">
                                        <a href="#" class="nav-link "> <i class="fa fa-sign-out text-danger fa-lg"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End top nav -->
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row pt-md-5 mt-md-3 mb-5">
                    <div class="col">
                        <h2>Top 10 Views - Admin</h2>
                        
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Price</th>
                                        <th>Create Date</th>
                                        <th>Lượt xem</th>
                                       <th>Chỉnh sửa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="product : ${products}">
                                        <td th:text="${product.id}"></td>
                                        <td th:text="${product.title}"></td>
                                        <td th:text="${product.price}"></td>
                                        <td th:text="${product.createDate}"></td>
                                        <td th:text="${product.viewcount}"></td>
                                        
                                        <td>
                                            <a th:href="@{/admin/products/edit/{id}(id=${product.id})}" class="btn btn-primary btn-sm">Edit</a>
                                           <!-- <form th:action="@{/admin/products/delete/{id}(id=${product.id})}" method="post" style="display: inline;">
                                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                            </form>-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>