<!DOCTYPE html>
<html ng-app="shopping-cart-app">

<head>
    <title>Mục yêu thích</title>
    <link rel="stylesheet" type="text/css" href="../cssuser/view.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">


</head>

<body ng-controller="shopping-cart-ctrl">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home/product">Product</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mục yêu thích</li>
        </ol>
    </nav>
    <div class="containerr">
        <div class="row">
            <div class="col-md-4" ng-repeat="item in cart.items">
                <div class="card mb-4">
                    <img class="card-img-top" ng-src="/images/{{item.imagemain}}" style="max-height: 200px;">

                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                         <!-- được sử dụng để định dạng giá tiền với 2 chữ số thập phân. -->
                        <p class="card-text">Price: {{ item.price | number:2 }}<small><sup> tỷ</sup></small></p>
                        <input class="form-control" value="{{item.createDate}}">
                        <p class="card-text">{{item.address}}</p>
                        <button class="btn btn-danger" ng-click="cart.remove(item.id)">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Add your JavaScript files here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="../../js/shopping-cart-app.js"></script>
</body>

</html>